<?xml version="1.0"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<appSettings>
		<add key="ApiUrl" value="https://api.smartystreets.com/street-address/" />
		<add key="AUTH-ID" value="YOUR_AUTH_ID" />
		<add key="AUTH-TOKEN" value="YOUR_AUTH_TOKEN" />
	</appSettings>
</configuration>
