<?xml version="1.0"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<appSettings>
		<add key="ApiUrl" value="https://api.qualifiedaddress.com/street-address/" />
		<add key="AuthenticationToken" value="YOUR_AUTHENTICATION_KEY_HERE" />
	</appSettings>
</configuration>