<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AuthId" value="d68093e4-fdae-4b79-9af2-3fc809649ce3"/>
		<add key="AuthToken" value="M3L51Wh2+5yY6NSQrxQzLL9zXSHgSzq6MieQvkpkdVVXIlitTeOm3WVoRrmI7upriGGDTAI7n0V7azlFPqh1aw=="/>
		<add key="InputList" value="sample_addresses.txt"/>
		<add key="OutputDestination" value="output_sample_addresses.zip"/>
	</appSettings>
</configuration>