<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AuthId" value="Paste your auth id here."/>
		<add key="AuthToken" value="Paste your (raw) auth token here (not the url-encoded version)."/>
		<add key="InputFile" value="sample_addresses.txt"/>
		<add key="OutputDestination" value="Where do you want the complete list to be placed?"/>
	</appSettings>
</configuration>