<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Url" value="https://us-zipcode.api.smartystreets.com/lookup?auth-id={0}&amp;auth-token={1}"/>
		<add key="QueryString" value="&amp;city={0}&amp;state={1}&amp;zipcode={2}"/>
		<add key="AuthId" value="YOUR_AUTH_ID_HERE"/>
		<add key="RawAuthToken" value="YOUR_AUTH_TOKEN_HERE"/>
	</appSettings>
</configuration>